$cak-primary: #006a7a;
$cak-secondary: #eeeeee;
$cak-light: #018498;
$cak-darker: #00545f;
$cak-blue: #00bfdb;

//fonts
$cak-white: #fff; //font color on primary bg
$cak-dark: #151515; //font color on white bg

//section titles
$section-title-color: #151515;
